<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097075404184-pa9lj57jd141gtbd1ujcu5rbfh3f0vqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097075404184-pa9lj57jd141gtbd1ujcu5rbfh3f0vqj</string>
	<key>API_KEY</key>
	<string>AIzaSyCTz3kSocgQDyExc2AHNkzBbVVFJBx577M</string>
	<key>GCM_SENDER_ID</key>
	<string>1097075404184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GabrielRomanoLearning.realTimeDatabase</string>
	<key>PROJECT_ID</key>
	<string>teste-realtimedatabase-4bd6a</string>
	<key>STORAGE_BUCKET</key>
	<string>teste-realtimedatabase-4bd6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097075404184:ios:2e7081686ddf004ad44fed</string>
</dict>
</plist>